fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.4
oracledb==2.2.0
oci==2.128.1
PyMuPDF==1.24.5
sentence-transformers==3.0.1
python-multipart==0.0.9
rank_bm25==0.2.2
pythainlp==5.0.5
